table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: solid thin #a9a9a9;
}

.table-content td {
  padding: 0.25rem 1rem;
}

tbody:nth-child(1) > tr:last-child, thead > tr:first-child {
  border-bottom: none;
}

.add-button {
  text-align: right;
  margin-bottom: 0.25rem;
}

.cell-status,
.cell-technology {
  text-align: center;
}

.cell-technology {
  line-height: 1.25rem;
}

.cell-description > ul {
  padding-left: 1rem;
}

.search-box {
  width: 100%;
  padding: 0.3rem 1rem;
  line-height: 1.5;
  border: 1px solid #A9A9A9;
  border-radius: .25rem;
  margin: 0.25rem 0;
  background-color: #ffffff;
  flex-grow: 1;
}

.search-box:focus {
  border-color: #80bdff;
  outline: 0;
}

.hidden {
  display: none;
}

.multiselect-container {
  position: relative;
  margin: 0 0.25rem;
}

.tags-input {
  padding: 0.05rem 0;
  display: flex;
  flex-wrap: wrap;
}

.tags-input > .tag {
  padding: 0.1rem 1.5rem 0.1rem 0.25rem;
  display: inline-block;
  background-color: #007bff;
  border-radius: 0.25rem;
  color: #ffffff;
  margin: 0.1rem;
}

.tags-input > .tag > .close {
  display: inline-block;
  font-size: 1.4rem;
  margin: -0.25rem 0 0 -0.1rem;
  position: absolute;
  border: 0;
  background-color: unset;
  color: inherit;
  transition: all 0.1s linear;
}

.tags-input > .tag > .close:focus {
  outline: 0;
}

.tags-input > .tag > .close:hover {
  color: #ff6700;
}

.tags-input > input  {
  padding: 0.375rem 1rem 0.375rem 0.25rem;
  border: none;
  flex-grow: 1;
  background-color: unset;
}

.tags-input > input:focus {
  outline: 0;
}

.select-list {
  overflow-y: auto;
  border: 1px solid #999;
  padding: 0;
  position: absolute;
  background-color: #ffffff;
  margin-top: -0.25rem;
  width: 100%;
  z-index: 1;
}

.select-list > li {
  list-style: none;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.select-list > li:hover {
  background-color: #A9A9A9;
}

.quick-comment-prompt {
  z-index: 0;
}

.w-8 {
  width: 8%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-34 {
  width: 34%;
}

.text-search-container {
  display: flex;
  margin: 0 0.25rem;
}