<body>
## A hack!!!
<div class="field-group hidden">
  <input class="text" type="text" id="contextPath" name="contextPath" value="$contextPath">
  <input class="text" type="text" id="schema" name="schema" value="{'title':'An idea','type':'object','required':['firstName','lastName'],'properties':{'password':{'type':'string','title':'Password'},'lastName':{'type':'string','title':'Last name'},'bio':{'type':'string','title':'Bio'},'firstName':{'type':'string','title':'First name'},'age':{'type':'integer','title':'Age'}}}">
</div>
<div id="maincontainer">
  <div id="container-idea">
  </div>
</div>
</body>
