.technology {
  display: inline-block;
  padding: 0.25em 0.4rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: #007bff;
  margin: 0.25rem 0;
}

.status {
  display: inline-block;
  padding: 0.25em 0.4rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  width: 4.5rem;
}

.status-new {
  color: #ffffff;
  background-color: #17a2b8;
}

.status-inProgress {
  color: #ffffff;
  background-color: #007bff;
}

.status-completed {
  color: #ffffff;
  background-color: #28a745;
}

.status-abandoned {
  color: #ffffff;
  background-color: #6c757d;
}
