#* @vtlvariable name="blueprint" type="au.com.agiledigital.idea_search.macros.transport.BlueprintContainer" *#
#* @vtlvariable name="row" type="au.com.agiledigital.idea_search.macros.transport.IdeaContainer" *#
#* @vtlvariable name="rows" type="java.lang.reflect.Array" *#
<p class="add-button">
    #if($blueprint.blueprintId != "")
      <a class="aui-button create-from-template-button conf-macro output-inline"
         data-space-key="$blueprint.spaceKey"
         href="$blueprint.baseUrl?createDialogSpaceKey=$blueprint.spaceKey&createDialogBlueprintId=$blueprint.blueprintId"
         data-content-blueprint-id="$blueprint.blueprintId" data-hasbody="false"
         data-macro-name="create-from-template">Add Fedex Idea</a>
    #end
</p>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Technologies</th>
    <th>Status</th>
    <th>Talk to</th>
    <th></th>
  </tr>
  </thead>
  <tr>
    <td class="w-15">
      <div class="text-search-container">
        <input id="search-title" type="text" class="search-box text-search"
               placeholder="Search for an idea"/>
      </div>
    </td>
    <td class="w-34">
      <div class="text-search-container">
        <input id="search-description" type="text" class="search-box text-search" placeholder=""/>
      </div>
    </td>
    <td class="w-20">
      <div id="technologies-multiselect-container" class="multiselect-container">
        <div class="tags-input search-box">
          <input id="search-technologies" class="searchable" autocomplete="chrome-off" tabindex="0"
                 data-toggle="dropdown" role="textbox" aria-expanded="false"
                 aria-controls="autocomplete-results" size="5"/>
        </div>
        <div id="technologies-list-container" class="list-container">
          <ul id="technologies-list" class="select-list hidden" role="listbox">
          </ul>
        </div>
      </div>
    </td>
    <td class="w-8">
      <div id="status-multiselect-container" class="multiselect-container">
        <div class="tags-input search-box">
##        Using autocomplete="chrome-off" due to chrome ignoring web standards.
##        https://bugs.chromium.org/p/chromium/issues/detail?id=468153#c164
          <input id="search-status" class="searchable" autocomplete="chrome-off" tabindex="0"
                 data-toggle="dropdown" role="textbox" aria-expanded="false"
                 aria-controls="autocomplete-results" size="5"/>
        </div>
        <div id="status-list-container" class="list-container">
          <ul id="status-list" class="select-list hidden" role="listbox">
          </ul>
        </div>
      </div>
    </td>
    <td class="w-8"></td>
    <td class="w-15"></td>
  </tr>
  <tbody class="table-content">
      #foreach($row in $rows)
      <tr>
        <td class="cell-title">$row.title</td>
        <td class="cell-description">$row.description.getRenderedValue()</td>
        <td class="cell-technology">$row.technologies.getRenderedValue()</td>
        <td class="cell-status">$row.status.getRenderedValue()</td>
        <td class="cell-owner">
          #if($row.owner.getRenderedValue())
            $row.owner.getRenderedValue()
          #end
        </td>
        <td class="cell-link">
          <a href="$row.url" title="Link to $row.title">View $row.title</a>
        </td>
      </tr>
      #end
  </tbody>
</table>