#* @vtlvariable name="heading" type="java.lang.Boolean" *#
#* @vtlvariable name="payload" type="java.lang.reflect.Array" *#
#if($heading)
    <h2>Technologies</h2>
#end
#foreach ($technology in $payload)
<span class="technology">$technology</span>
#end
