{namespace ideaSearch.blueprint.page.fedexIdea}

/**
*  A form that accepts the basic information for an idea
*/
{template .page1Form}
  <form action="#" method="post" class="aui">
    <fieldset>
      <div class="field-group">
        <label for="videatitle">{getText('ideaSearch.blueprint.page.form.label.idea.title')}</label>
        <input id="videatitle" class="text" type="text"
               name="vIdeaTitle">*
      </div>
    </fieldset>
  </form>
{/template}
